<html>
<body>
    <main class="about-page">
        <!--=================== Breadcrumb Section ===================-->
        <section class="breadcrumb-container paira-margin-bottom-3">
            <div class="breadcrumb">
                <div class="container-fluid padding-fix">
                    <ul class="list-inline">
                        <li><a href='@Url.Action("Index", "Home")'>Anasayfa</a></li>
                        <li>-</li>
                        <li>Hakkımda</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--=================== Article Content Section ===================-->
        <section class="about-content paira-margin-bottom-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 heading-title text-center">
                        <h2 class="text-capitalize margin-clear"><span>Hakkımda</span></h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-description">
                            <p class="margin-top-30">Başkent Üniversitesi Güzel Sanatlar Fakültesi Grafik Tasarım Bölümü mezunuyum. Resim yapmaya hobi olarak başladım. Takip ettiğim akım genel olarak Kübizmdir.</p>
                            @*<p class="margin-top-10 margin-bottom-15">
                                Vitiosum est enim in dividendo partem in genere numerare. Atque ab his initiis profecti omnium virtutum et originem et progressionem persecuti sunt. Sed ille, ut dixi, vitiose. Quae cum dixisset paulumque institisset, Quid est? Quis istud, quaeso, nesciebat? Fortasse id optimum, sedubillud: Plus semper voluptatis? Sed ego in hoc resisto; Hos contra singulos dici est melius.
                            </p>
                            <ul class="list-unstyled margin-bottom-0 lists">
                                <li>>> Ergo ita: non posse honeste vivi, nisi honeste vivatur?</li>
                                <li>>> Summae mihi videtur inscitiae.</li>
                                <li>>> Non minor, inquit, voluptas percipitur ex vilissimis rebus quam ex pretiosissimis.</li>
                                <li>>> Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt;</li>
                                <li>>> Sed in rebus apertissimis nimium longi sumus.</li>
                            </ul>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-team paira-margin-bottom-3 text-center">
            <div class="team-background">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6 margin-top-30">
                            @*<div class="position-r">
                <img src="~/assets/images/blog/about-team.png" alt="" class="img-responsive center-block">
                <div class="team-title">
                    <h4 class="margin-bottom-10">Devid Marlo</h4>
                    <p>Artist</p>
                </div>
            </div>*@
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 margin-top-30">
                            <div class="position-r">
                                <img src="~/assets/images/basak.png" style="height:474px;width:112%" alt="" class="img-responsive center-block">
                                <div class="team-title">
                                    <h4 class="margin-bottom-10">Başak Gülcan</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 margin-top-30">
                            @*<div class="position-r">
                <img src="~/assets/images/blog/about-team-2.png" alt="" class="img-responsive center-block">
                <div class="team-title">
                    <h4 class="margin-bottom-10">Devid Marlo</h4>
                    <p>Artist</p>
                </div>
            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-team paira-margin-bottom-3">
            @*<div class="container">
                <div class="row">
                    <div class="col-md-12 heading-title text-center">
                        <h2 class="text-capitalize margin-clear"><span>Misyon & Vizyonum</span></h2>
                    </div>
                </div>
            </div>*@
            @*<div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled margin-bottom-0 margin-top-30 lists">
                            <li>1. Cave putes quicquam esse verius.</li>
                            <li>2. Sed haec quidem liberius ab eo dicuntur et saepius.</li>
                            <li>3. Est autem officium, quod ita factum est, ut eius facti probabilis ratio reddi possit.</li>
                            <li>4. Huius, Lyco, oratione locuples, rebus ipsis ielunior.</li>
                            <li>5. Et ille ridens: Video, inquit, quid agas;</li>
                            <li>6. Inde sermone vario sex illa a Dipylo stadia confecimus.</li>
                            <li>7. Quae similitudo in genere etiam humano apparet.</li>
                            <li>8. Videamus animi partes, quarum est conspectus illustrior;</li>
                            <li>9. De hominibus dici non necesse est.</li>
                            <li>10. Is ita vivebat, ut nulla tam exquisita posset inveniri voluptas, qua non abundaret.</li>
                            <li>11. Summum ením bonum exposuit vacuitatem doloris;</li>
                            <li>12. Quis non odit sordidos, vanos, leves, futtiles?</li>
                        </ul>
                    </div>
                </div>
            </div>*@
        </section>
    </main>
</body>
</html>