<html>
<body>
    <main class="contact-page">
        <!--=================== Breadcrumb Section ===================-->
        <section class="breadcrumb-container paira-margin-bottom-3">
            <div class="breadcrumb">
                <div class="container-fluid padding-fix">
                    <ul class="list-inline">
                        <li><a href='@Url.Action("Index", "Home")'>Anasayfa</a></li>
                        <li>-</li>
                        <li>İletişim</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--=================== Article Content Section ===================-->
        <section class="contact-detail paira-margin-bottom-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 heading-title">
                        <h2 class="text-capitalize margin-clear text-center"><span>İletişim Bilgileri</span></h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <center>
                        <div class="col-md-12 margin-top-30">
                            <p class="margin-bottom-30">
                                Telefon ve e-posta yoluyla lütfen benimle iletişime geçiniz.
                            </p>

                            <div class="col-md-4 col-xs-12 col-sm-6 margin-top-30">
                                <div class="text-center official-detail">
                                    <i class="fa fa-phone fa-3x"></i>
                                    <p>05302019666</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 col-sm-6 margin-top-30">
                                
                            </div>
                            <div class="col-md-4 col-xs-12 col-sm-6 margin-top-30">
                                <div class="text-center official-detail">
                                    <i class="fa fa-envelope fa-3x"></i>
                                    <p>basgulcan@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </section>
    </main>
    </body>
</html>